# AIM: to analyse wifi datasetsfor assignment 4, GEO1003

## imports:
- pandas
- os
- sklearn
- numpy
- scipy

In [450]:
import pandas as pd
# pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
import os
import numpy as np
from scipy import stats

In [2]:
filepath = './15min/'
filelist = os.listdir(filepath)
filelist

['[01.Oost.330]Access Point Log 2020-12-02 17-30-02.txt',
 '[01.Oost.560].txt',
 '[01.West.430] Access Point Log 2020-12-02 17-56-25.txt',
 '[02.Oost.010] Access Point Log 2020-12-02 17-23-18.txt',
 '[02.Oost.470].txt',
 '[02.Oost.500]15min.txt',
 '[02.Oost.700].txt',
 '[02.West.200] Access Point Log 2020-12-02 17-56-02.txt',
 '[@-hoc]_02-12-20_1622.txt',
 '[A]Access Point Log 2020-12-02 16-47-14.txt',
 '[Berlage-gang]15min.txt',
 '[Berlage]15min.txt',
 '[BG.Oost.430].txt',
 '[BG.West.030]_2020-12-07.txt',
 '[C]Access Point Log 2020-12-02 17-18-31.txt',
 '[Expo upstairs]_Access Point Log 2020-12-02 15-56-05.txt',
 '[F]Access Point Log 2020-12-02 16-32-26.txt',
 '[Geolab]_2020-12-07.txt',
 '[K1.Ooost.250]_2020-12-07.txt',
 '[OostSerre]_2020-12-07.txt',
 '[Our workroom]_Access Point Log 2020-12-02 15-12-48.txt',
 '[Room 1].txt',
 '[Room D].txt',
 '[Room R].txt',
 '[Stairs coffee]_Access Point Log 2020-12-02 16-49-53_BK2.txt',
 '[Stairs red]_Access Point Log 2020-12-02 17-07-56_BK2.txt',
 '[Stylos]_02-12-20_1618.txt',
 '[T]Access Point Log 2020-12-02 16-25-08.txt',
 '[U]Access Point Log 2020-12-02 16-23-15.txt',
 '[WalrtmanBouwshop]_02-12-20_1601.txt',
 '[WestCoffeeRoom]_02-12-20_1637.txt',
 '[X]Access Point Log 2020-12-02 17-01-33.txt',
 '[Z]Access Point Log 2020-12-02 16-57-25.txt']

In [3]:
def dfinator(path):
    nmlist = ['time', 'macID','vendor','access_pt','signal','idk','idk_2','freq','station_info','specs']
    filelist = os.listdir(path)
    megadf = pd.DataFrame(columns=nmlist)
    for file_ in filelist:
        df = pd.read_csv(os.path.join(path,file_)  , delimiter='\t', names=nmlist)
        df['room'] = str(file_.split(']')[0])[1:]
        # df.time = pd.to_datetime(df.time)
        megadf=megadf.append(df, ignore_index=True)
    return megadf

In [4]:
mega = dfinator(filepath)

### number of unique MAC ID in total dataset

In [5]:
eduroam_df = mega[mega['access_pt']=='eduroam']
eduroam_df.reset_index(inplace=True)
eduroam_df.drop('index', axis=1 , inplace=True)
eduroam_df.head(15)
len(eduroam_df.macID.unique())

347

## Rooms sampled by our group

01oost560 <br>
01west430 <br>
02oost010 <br>
02west200

In [6]:
group_room_list = ['01.Oost.560' , '01.West.430' , '02.Oost.010','02.Oost.200']
groupdf = pd.DataFrame()
for i in group_room_list:
    groupdf=groupdf.append( eduroam_df[eduroam_df['room']==i] , ignore_index=True) 
# groupdf.reset_index()
# groupdf.drop('index',axis=1,inplace=True)
groupdf

,time,macID,vendor,access_pt,signal,idk,idk_2,freq,station_info,specs,room
0,9-12-2020 14:33:40,00:3A:7D:34:E8:BF,NaN,eduroam,-74,47,NaN,Ch 132 [5.660 GHz],8 Stations,Wi-Fi [Marvell AVASTAR Wireless-AC Network Con...,01.Oost.560
1,9-12-2020 14:33:40,84:3D:C6:AD:80:6F,NaN,eduroam,-61,67,NaN,Ch 116 [5.580 GHz],10 Stations,Wi-Fi [Marvell AVASTAR Wireless-AC Network Con...,01.Oost.560
2,9-12-2020 14:33:40,00:3A:7D:27:BA:3F,NaN,eduroam,-71,51,NaN,Ch 108 [5.540 GHz],4 Stations,Wi-Fi [Marvell AVASTAR Wireless-AC Network Con...,01.Oost.560
3,9-12-2020 14:33:40,84:3D:C6:C7:C2:0F,NaN,eduroam,-81,36,NaN,Ch 64 [5.320 GHz],7 Stations,Wi-Fi [Marvell AVASTAR Wireless-AC Network Con...,01.Oost.560
4,9-12-2020 14:33:40,00:3A:7D:12:45:2F,NaN,eduroam,-80,37,NaN,Ch 60 [5.300 GHz],0 Stations,Wi-Fi [Marvell AVASTAR Wireless-AC Network Con...,01.Oost.560
...,...,...,...,...,...,...,...,...,...,...,...
25704,02-12-2020 17:39:48,84:3D:C6:C7:C3:F0,Cisco Systems Inc.,eduroam,-79,35,NaN,Ch 11 [2.462 GHz],0 Stations,Wi-Fi [Intel(R) Dual Band Wireless-AC 3165],02.Oost.010
25705,02-12-2020 17:39:48,00:3A:7D:1E:DF:3F,Cisco Systems Inc.,eduroam,-46,90,NaN,Ch 64 [5.320 GHz],2 Stations,Wi-Fi [Intel(R) Dual Band Wireless-AC 3165],02.Oost.010
25706,02-12-2020 17:39:48,00:3A:7D:1E:DF:30,Cisco Systems Inc.,eduroam,-45,91,NaN,Ch 11 [2.462 GHz],0 Stations,Wi-Fi [Intel(R) Dual Band Wireless-AC 3165],02.Oost.010
25707,02-12-2020 17:39:48,84:3D:C6:B9:29:80,Cisco Systems Inc.,eduroam,-74,43,NaN,Ch 11 [2.462 GHz],1 Station,Wi-Fi [Intel(R) Dual Band Wireless-AC 3165],02.Oost.010
25708,02-12-2020 17:39:48,84:3D:C6:B9:25:0F,Cisco Systems Inc.,eduroam,-82,30,NaN,Ch 100 [5.500 GHz],0 Stations,Wi-Fi [Intel(R) Dual Band Wireless-AC 3165],02.Oost.010

### number of unique MAC ID in groups dataset

In [65]:
a = groupdf.macID.unique()
print(len(a))
a

93

array(['00:3A:7D:34:E8:BF', '84:3D:C6:AD:80:6F', '00:3A:7D:27:BA:3F',
       '84:3D:C6:C7:C2:0F', '00:3A:7D:12:45:2F', '84:3D:C6:B4:EA:5F',
       '84:3D:C6:B9:2B:9F', '84:3D:C6:B9:2C:AF', '84:3D:C6:B9:3A:7F',
       '84:3D:C6:B8:F3:5F', '84:3D:C6:AD:B3:DF', '84:3D:C6:B9:00:0F',
       '00:3A:7D:34:7C:1F', '00:3A:7D:34:7C:10', '84:3D:C6:B9:00:00',
       '84:3D:C6:B9:3A:70', '84:3D:C6:C7:F1:E0', '84:3D:C6:AD:80:60',
       '00:3A:7D:34:EB:60', '00:3A:7D:12:45:20', '00:3A:7D:27:BA:30',
       '00:3A:7D:12:45:80', '00:3A:7D:34:E8:B0', '84:3D:C6:C7:C2:00',
       '84:3D:C6:B9:2B:90', '84:3D:C6:B9:2C:A0', '84:3D:C6:B4:EA:50',
       '84:3D:C6:B8:F3:50', '00:3A:7D:12:45:8F', '00:3A:7D:34:EB:6F',
       '84:3D:C6:AD:B3:D0', '84:3D:C6:BD:31:00', '84:3D:C6:8C:B4:B0',
       '84:3D:C6:B9:37:1F', '00:3A:7D:34:7D:40', '84:3D:C6:D5:27:4F',
       '84:3D:C6:B9:3C:7F', '84:3D:C6:D5:27:40', '84:3D:C6:AD:7D:D0',
       '84:3D:C6:B9:37:10', '84:3D:C6:B9:3C:70', '84:3D:C6:A8:A4:00',
       '00:3A:7D:44:92:4F', '84:3D:C6:B9:02:7F', '84:3D:C6:AD:7D:DF',
       '84:3D:C6:B9:3B:0F', '84:3D:C6:D5:27:5F', '84:3D:C6:B9:02:A0',
       '84:3D:C6:B9:3B:00', '00:3A:7D:34:D9:10', '84:3D:C6:C7:F8:C0',
       '84:3D:C6:BD:42:70', '84:3D:C6:B8:F9:D0', '84:3D:C6:B9:2E:00',
       '84:3D:C6:BD:42:7F', '84:3D:C6:B9:2E:0F', '84:3D:C6:C7:C1:8F',
       '84:3D:C6:D5:27:50', '84:3D:C6:B8:E8:40', '00:3A:7D:27:B4:A0',
       '00:3A:7D:34:E6:80', '84:3D:C6:B9:02:70', '84:3D:C6:C7:C1:80',
       '00:3A:7D:1E:E0:C0', '00:3A:7D:44:92:40', '00:3A:7D:34:E3:CF',
       '00:3A:7D:34:7A:4F', '84:3D:C6:C7:C3:F0', '00:3A:7D:34:E3:C0',
       '00:3A:7D:34:EC:30', '84:3D:C6:C7:C2:8F', '00:3A:7D:27:AF:80',
       '00:3A:7D:34:E5:EF', '84:3D:C6:BD:4D:A0', '00:3A:7D:34:E5:E0',
       '2C:D0:2D:98:09:A0', '00:3A:7D:34:EC:3F', '84:3D:C6:C7:C3:FF',
       '00:3A:7D:34:7A:40', '84:3D:C6:C7:C2:80', '00:3A:7D:27:AF:8F',
       '84:3D:C6:B9:25:00', '84:3D:C6:B8:EC:40', '00:3A:7D:1E:DF:3F',
       '00:3A:7D:1E:DF:30', '84:3D:C6:B9:29:80', '84:3D:C6:B9:25:0F',
       '84:3D:C6:B9:29:8F', '00:3A:7D:34:E7:70', '84:3D:C6:B9:2A:60',
       '84:3D:C6:B9:2C:E0', '00:3A:7D:21:46:D0', '00:3A:7D:34:E6:50'],
      dtype=object)

In [34]:
_ = eduroam_df[eduroam_df['macID'] == "00:3A:7D:34:E8:BF"]
# _.plot(y='macID',x='signal',kind='scatter')
print(_.signal.mean())
print(_.signal.max())
print(_.signal.min())
print(_.signal.std())
print(_.signal.median())

-78.85368956743002
-60
-91
5.605749357596784
-79.0

----
# part A
---

In [223]:
s1 = set(eduroam_df[eduroam_df.room == '02.Oost.500'].macID)
s2 = set(eduroam_df[eduroam_df.room == '02.Oost.700'].macID)
s3 = s1 & s2
print("percentage of 02.Oost.500 that is also in 02.Oost.700 = " + str(len(s3) / len(s1)))
print("percentage of 02.Oost.700 that is also in 02.Oost.500 = " + str(len(s3) / len(s2)))

percentage of 02.Oost.500 that is also in 02.Oost.700 = 0.2727272727272727
percentage of 02.Oost.700 that is also in 02.Oost.500 = 0.2903225806451613

---
# Part B
---

In [514]:
studydf = eduroam_df.drop(['time','vendor','access_pt','idk','idk_2','freq','station_info','specs'], axis=1)
studydf['uniqueID'] = studydf['macID']+'__'+studydf['room']
# studydf.drop(['macID','room'], axis=1, inplace=True)
studydf.set_index('uniqueID', inplace=True)
studydf.signal = pd.to_numeric(studydf.signal)
print(len(studydf.index.unique()))
studydf
redo=studydf.copy()

1175

                                            macID  signal         room
uniqueID
00:A6:CA:55:D9:20__01.Oost.330  00:A6:CA:55:D9:20     -78  01.Oost.330
00:A6:CA:66:AF:B0__01.Oost.330  00:A6:CA:66:AF:B0     -74  01.Oost.330
00:A6:CA:61:F6:00__01.Oost.330  00:A6:CA:61:F6:00     -77  01.Oost.330
00:A6:CA:66:AC:D0__01.Oost.330  00:A6:CA:66:AC:D0     -72  01.Oost.330
00:A6:CA:44:70:70__01.Oost.330  00:A6:CA:44:70:70     -74  01.Oost.330
...                                           ...     ...          ...
00:3A:7D:34:7B:40__Z            00:3A:7D:34:7B:40     -44            Z
00:3A:7D:34:E5:E0__Z            00:3A:7D:34:E5:E0     -69            Z
00:3A:7D:21:46:20__Z            00:3A:7D:21:46:20     -55            Z
84:3D:C6:B9:2A:90__Z            84:3D:C6:B9:2A:90     -71            Z
00:3A:7D:12:43:D0__Z            00:3A:7D:12:43:D0     -60            Z

[238537 rows x 3 columns]

In [147]:
studydf = studydf.groupby('uniqueID').agg(lambda x: x.mean())
studydf.reset_index(inplace=True)
studydf['room'] = studydf['uniqueID'].apply(lambda x: x.split('__')[-1])
studydf['mac'] = studydf['uniqueID'].apply(lambda x: x.split('__')[0])
studydf

,uniqueID,signal,room,mac
0,00:3A:7D:12:3E:90__BG.West.030,-69.987342,BG.West.030,00:3A:7D:12:3E:90
1,00:3A:7D:12:3E:9F__BG.West.030,-78.329730,BG.West.030,00:3A:7D:12:3E:9F
2,00:3A:7D:12:41:20__X,-71.693267,X,00:3A:7D:12:41:20
3,00:3A:7D:12:41:2F__X,-78.835381,X,00:3A:7D:12:41:2F
4,00:3A:7D:12:43:B0__X,-77.950860,X,00:3A:7D:12:43:B0
...,...,...,...,...
1170,84:3D:C6:D5:27:70__02.West.200,-82.599520,02.West.200,84:3D:C6:D5:27:70
1171,84:3D:C6:D5:27:70__F,-56.426184,F,84:3D:C6:D5:27:70
1172,84:3D:C6:D5:27:70__Geolab,-58.949153,Geolab,84:3D:C6:D5:27:70
1173,84:3D:C6:D5:27:7F__F,-62.994429,F,84:3D:C6:D5:27:7F
1174,84:3D:C6:D5:27:7F__Geolab,-74.358974,Geolab,84:3D:C6:D5:27:7F

---
## 30 sec data
---

In [479]:
path30 = './30_sec/'
thirty = dfinator(path30)
thirty = thirty[thirty['access_pt']=='eduroam'].drop(['time','vendor','access_pt','idk','idk_2','freq','station_info','specs'], axis=1)


thirty['uniqueID30'] = thirty['macID']+'__'+ thirty['room']
thirty.drop(['macID','room'], axis=1, inplace=True)
thirty.set_index('uniqueID30', inplace=True)
thirty.signal = pd.to_numeric(thirty.signal)
print(len(thirty.index.unique()))

# thirty = thirty.groupby('uniqueID30').agg(lambda x: x.mean())
thirty.reset_index(inplace=True)
thirty['room'] = thirty['uniqueID30'].apply(lambda x: x.split('__')[-1])
thirty['mac'] = thirty['uniqueID30'].apply(lambda x: x.split('__')[0])

thirty_room400 = thirty[thirty['room']=='A']
thirty_room400.head()

312

                uniqueID30  signal room                mac
2355  00:A6:CA:5A:6F:8F__A     -79    A  00:A6:CA:5A:6F:8F
2356  84:3D:C6:B8:FB:C0__A     -80    A  84:3D:C6:B8:FB:C0
2357  84:3D:C6:62:D2:B0__A     -76    A  84:3D:C6:62:D2:B0
2358  84:3D:C6:B9:25:00__A     -72    A  84:3D:C6:B9:25:00
2359  00:A6:CA:5A:5A:80__A     -70    A  00:A6:CA:5A:5A:80

In [261]:
d_spear = dict()
d_man = dict()

for room_ in studydf.room.unique():
    # print(room_)
    for macid in thirty_room400.mac :
        try:
            sig1 = float(thirty_room400[thirty_room400['mac'] == macid].signal)
            sig2 = float(studydf[(studydf['room'] == room_) & (studydf['mac']==macid)].signal)
        
            dist_spear = (sig1-sig2)**2
            dist_man =  abs(sig1-sig2)
            d_spear[room_] =  d_spear.get(room_,dist_spear) + dist_spear
            d_man[room_] =  d_man.get(room_,dist_man) + dist_man
            
        except:
            continue

print(d_man)
d_euc={}
for rm , val in d.items():
    d_euc[rm] = val**0.5

{'Berlage': 14.0, '01.Oost.330': 305.06754636569895, '02.Oost.470': 341.62109855305175, 'BG.Oost.430': 82.37541497143084, 'C': 29.361594202898544, 'Room D': 93.78770915358766, 'Room R': 101.67427360271998, 'Stairs coffee': 212.16763059655904, 'Z': 32.457762626008474, '01.Oost.560': 72.64409550693954, '02.Oost.500': 99.61752945203274, 'U': 276.00961034990473, 'Our workroom': 21.98952380952383, '02.Oost.700': 119.96761541641014, 'Expo upstairs': 179.2115812873024, 'T': 185.30398328720747}

In [262]:
print("spear  " , min(d_spear, key=d_spear.get) )
print("manhat " , min(d_man, key=d_man.get)     )
print("Euclid " , min(d_euc, key=d_euc.get)     )

# d['02.Oost.500']

spear   Berlage
manhat  Berlage
Euclid  WalrtmanBouwshop

# using ML

In [399]:
from sklearn.neighbors import KNeighborsClassifier

In [452]:
mldf = eduroam_df.drop(['time','vendor','access_pt','idk','idk_2','freq','station_info','specs'], axis=1)
mldf['uniqueID'] = mldf['macID']+'__'+mldf['room']

a = mldf.macID.unique()
mldf['macno'] = mldf.macID.apply(lambda x: np.where(a==x)[0][0])

x_train = mldf[['signal' , 'macno']]
y_train = pd.Series(mldf.room)
# x_train
# y_train

mldf

,macID,signal,room,uniqueID,macno
0,00:A6:CA:55:D9:20,-78,01.Oost.330,00:A6:CA:55:D9:20__01.Oost.330,0
1,00:A6:CA:66:AF:B0,-74,01.Oost.330,00:A6:CA:66:AF:B0__01.Oost.330,1
2,00:A6:CA:61:F6:00,-77,01.Oost.330,00:A6:CA:61:F6:00__01.Oost.330,2
3,00:A6:CA:66:AC:D0,-72,01.Oost.330,00:A6:CA:66:AC:D0__01.Oost.330,3
4,00:A6:CA:44:70:70,-74,01.Oost.330,00:A6:CA:44:70:70__01.Oost.330,4
...,...,...,...,...,...
238532,00:3A:7D:34:7B:40,-44,Z,00:3A:7D:34:7B:40__Z,10
238533,00:3A:7D:34:E5:E0,-69,Z,00:3A:7D:34:E5:E0__Z,22
238534,00:3A:7D:21:46:20,-55,Z,00:3A:7D:21:46:20__Z,9
238535,84:3D:C6:B9:2A:90,-71,Z,84:3D:C6:B9:2A:90__Z,12
238536,00:3A:7D:12:43:D0,-60,Z,00:3A:7D:12:43:D0__Z,41

In [512]:
def indexer(a,x):
    ind = np.where(a==x)[0]
    if len(ind)!=0:
        return ind[0]

x_test = thirty_room400[['signal' , 'mac']]
y_test = pd.Series(thirty_room400.room)
x_test['macnot'] = x_test.mac.apply(lambda x: indexer(a,x))
x_test.drop(['mac'], axis=1, inplace=True)
x_test.dropna(inplace=True)
x_test.head()

      signal  macnot
2355     -79   210.0
2356     -80   217.0
2357     -76   218.0
2358     -72   138.0
2359     -70   213.0

In [513]:
knn = KNeighborsClassifier(n_neighbors = 12)
knn.fit(x_train , y_train)
pred = knn.predict(x_test)

print(f"Predicted room is {stats.mode(pred)[0][0]}, actual room is {str(y_test.iloc[0])}. Prediction done with a score of {knn.score(x_test, y_test[:x_test.shape[0]])}")

Predicted room is A, actual room is A. Prediction done with a score of 0.7485714285714286

---
## test to see best n value

In [467]:
for i in range(1,18) :
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(x_train , y_train)
    knn.predict(x_test)
    
    print( f"at n={i} the score is {knn.score(x_test, y_test)}")

at n=1 the score is 0.5100806451612904
at n=2 the score is 0.5342741935483871
at n=3 the score is 0.532258064516129
at n=4 the score is 0.5262096774193549
at n=5 the score is 0.532258064516129
at n=6 the score is 0.530241935483871
at n=7 the score is 0.530241935483871
at n=8 the score is 0.5342741935483871
at n=9 the score is 0.5342741935483871
at n=10 the score is 0.5161290322580645
at n=11 the score is 0.5423387096774194
at n=12 the score is 0.5423387096774194
at n=13 the score is 0.5524193548387096
at n=14 the score is 0.5766129032258065
at n=15 the score is 0.5544354838709677
at n=16 the score is 0.5544354838709677
at n=17 the score is 0.5544354838709677